/*
 *= require store/spree_frontend
*/

@import 'compass';
@import 'compass/css3';

@import 'shared/typography';
@import 'shared/forms';
@import 'shared/layout';

@import 'components/product_item';
@import 'components/search';
@import 'components/cart';
@import 'components/breadcrumbs';
@import 'components/variants';
@import 'components/messages';
@import 'components/navigation';
@import 'components/pagination';

@import 'sections/checkout';
@import 'sections/cart';
@import 'sections/user';
@import 'sections/contact_us';

@import 'shared/media';

$link-color: #cd5a1c;
$link-hover-color: #555;
$footer-color: #e6e6e6;
$steps-color: #d7cc01;

@import url(//fonts.googleapis.com/css?family=Telex);

$ff_base: 'Telex', sans-serif !default;