@media only screen and (min-width: 768px) and (max-width: 959px) {
	#search-bar {
		input[type="submit"] {
			margin-top: 10px;
		}
	}
}

@media only screen and (max-width: 767px) {
	aside#sidebar {
		display: none;
	}
	#locale-select {
		float: none !important;
		margin-top: 10px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		#search-bar form {
	      right: 120px;
	    }

	    .carousel li.four.columns {
	      width: 200px !important;
	      margin-right: 28px !important;

	      .product-image a, .product-image a img {
	        width: 140px !important;
	        height: 140px !important;
	      }

	      .product-image a img {
	        @include border-radius(40px !important);
	      }
	    }

	    #subheader .subheader-wrapper h1 {
	      text-align: left;
	    }

	    #mobile-navigation:target {
	      width: 50%;
	    }
	    #mobile-navigation:target:target + .page-wrapper {
	      width: 50% !important;
	    }

	    ul#products {
	      li.product-row {
	        width: 440px;
	      }
	      a.info {
	        font-size: 12px;
	        font-weight: 600;
	      }
	      .product-image {
	        a {
	          padding: 18px 12px 18px 10px;

	          img {
	            @include border-radius(20px);
	            width: 90px;
	            height: 90px;
	          }
	        }
	      }

	      [data-hook="products_list_item"] {
	        width: 130px !important;
	        margin-right: 10px;
	        margin-bottom: 30px;
	        padding: 0;
	      }
	    }

	    #billing, #shipping {
	      input {
	        width: 360px;

	        &#order_use_billing {
	          width: auto;
	        }
	      }

	      select {
	        width: 400px;
	      }
	    }

	    table#cart-detail {
	      margin-left: 12px;
	    }

	    footer#footer {
	      &, a {
	        font-size: 12px;
	      }
	      h5 {
	        line-height: 52px;
	        border: none;
	        margin-bottom: 20px;
	      }
	      div.four.columns {
	        text-align: center;
	        width: 210px;
	        margin-bottom: 0;
	      }

	    }

	  }
	}
}

@media only screen and (max-width: 480px) {
	.footer-container {
		footer#footer {
			padding: 20px 0;
		}
	}
	#search-bar {
		input[type="submit"] {
			margin-top: 10px;
		}
	}
	#wrapper {
		min-height: 200px;
	}
	body {
		#update-cart .coupon-code-field {
     		width: 300px !important;
    	}
	}
}