@media only screen and (min-width: 768px) and (max-width: 959px) {
	#search-bar {
		input[type="submit"] {
			margin-top: 10px;
		}
	}
}

@media only screen and (max-width: 767px) {
	aside#sidebar {
		display: none;
	}
	#locale-select {
		float: none !important;
		margin-top: 10px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {
	.footer-container {
		footer#footer {
			padding: 20px 0;
		}
	}
	#search-bar {
		input[type="submit"] {
			margin-top: 10px;
		}
	}
}