<script type='text/javascript'>
$('.modal-container').html('<div class="modal">
						<h1>Bienvenido/a a YoExportoAceite</h1>
						<p>Este es un sitio de demostración, no es una tienda real, por tanto no podrás comprar productos aquí.</p>
						<p>Nuestro objetivo es mostrar la funcionalidad de esta tienda, que hemos desarrollado y puesto a disposición de las cooperativas y almazaras de aceite de forma gratuita.</p>
						<p>Si estás interesado en descargar la tienda y quieres más información puedes visitar la sección de la <a href="www.yoexportoaceite.com/micrositio-tienda" target="_blank">tienda virtual</a> en nuestro portal.</p>
						<p>¡Gracias!</p>
					</div>')
$('.modal-container').modal()
</sript>